/*Import Google Font Noto Serif*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*Asterix wildcard selector to override default styles; referenced from love running walkthrough project*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General style rules*/
body {
    /*Flex properties for document*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*General Style*/
    background-color: #CAF0F8;
    min-height: 100vh;
    font-family: "Noto Serif", serif;
    color: #000000;
}

main {
    flex: 1 1 auto;
    width: 80%;
    /*Flex parent*/
    display: flex;
    flex-flow: column;
    align-items: center;
}

/*Styling for Title*/
h1 {
    margin: 50px 0 0;
    font-size: 250%;
}

/* Add style to the playfield*/
.playfield {
    background-color: #6DB9E9;
    border: 3px solid black;
    box-shadow: 5px 5px 3px grey;
    width: 30rem;
    min-height: 30rem;
    /*Flex parent*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.playfield h2 {
    margin: 25px 10px;
    text-align: center;
}

/*Change position of content on last field*/
.last-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Add style to elements of playfied*/
.text-field {
    background-color: #94CDF0;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 3px grey;
    width: 20rem;
    font-size: large;
    padding: 5px 8px;
}

/*Style for game elements*/
.question-field {
    min-height: 8rem;
    margin: 20px;
}

.answer {
    /*Grid properties*/
    display: grid;
    gap: 10px;
    grid-template-columns:12rem 12rem;
    grid-template-rows:auto auto;
    font-size:smaller;
    margin-bottom: 10px;
}

.answer > div {
        /*General properties*/
        min-height: 10rem;
        background-color: #94CDF0;
        border: 1px solid black;
        border-radius: 15px;
        box-shadow: 5px 5px 3px grey;
        padding: 5px 8px;
}

.answer > div:hover {
    background-color: #90E0EF; 
}

/*Style for button*/
button {
    width: 15rem;
    height: 5rem;
    font-family: "Noto Serif", serif;
    font-size: large;
    font-weight: bold;
    margin: 20px;
    background-color: #94CDF0;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 3px grey;
}

button:hover {
    background-color: #90E0EF;
}

/*Style for footer*/
footer {
    /*General Style*/
    width: 60%;
    margin: 10px;
    /*Flex-parent*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Styling for link in footer*/
footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #00B4D8;
}

/*Media Query for mobile devices*/
@media only screen and (max-width: 480px) {
    /*General Style*/
    main {
        width: 100%;
    }
    
    /*Style for index*/
    .playfield {
        width: auto;
        height: auto;
        gap: 0px;
    }

    .playfield h2 {
        margin: 10px;
    }

    .text-field {
        max-width: 15rem;
        margin-bottom: 10px;

    }

    /*Style for game*/
    .answer {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 90%;
        height: auto;
    }

    .answer > div {
        margin-bottom: 10px;
        height: auto;
        min-height: auto;
    }

    /*Style Footer*/
    footer {
        width: 100%;
        font-size: smaller;
    }
}
