/*Asterix wildcard selector to override default styles; referenced from love running walkthrough project*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General style rules*/
body {
    /*Flex properties for document*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
}

/* Add style to the rules*/
.rule-background {
    background-color: #90E0EF;
}